@model IEnumerable<ParkingCore.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlotNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpTotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PkID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PkSlotID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlotNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpTotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PkID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PkSlotID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingID })
        </td>
    </tr>
}

</table>
