@model ParkingCore.Models.Parking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <h2>Thông tin bãi đỗ</h2>
}
@using (Html.BeginForm(Html.BeginForm("Update", "ParkingSite", FormMethod.Post)))
{
    @Html.AntiForgeryToken()
    <div class="container rounded bg-white mt-5 mb-5">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150 px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">@Model.PkName</span><span class="text-black-10">@Model.Email</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Cập nhật thông tin</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Tên bãi đỗ</label>
                            <input id="PkID" name="PkID" type="hidden" class="form-control" placeholder="first name" value="@Model.PkID">
                        </div>
                        <input id="PkName" name="PkName" type="text" class="form-control" placeholder="first name" value="@Model.PkName">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Số điện thoại</label>
                        <input id="Phone" name="Phone" type="text" class="form-control" required placeholder="enter phone number" value="@Model.Phone" pattern="(84|0[3|5|7|8|9])+([0-9]{8})\b">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Địa chỉ</label>
                        <input id="Address" name="Address" type="text" required class="form-control" placeholder="enter address line 1" value="@Model.PkAddress">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Email</label>
                        <input id="Email" name="Email" type="text" required class="form-control" placeholder="enter email id" value="@Model.Email">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Số lượng ô đỗ</label>
                        <input id="Slot" name="Slot" type="text" required class="form-control" placeholder="số lượng ô đỗ" value="@Model.Slot">
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="submit">Lưu thông tin</button>
                </div>
            </div>
        </div>
    </div>


}
