@model IEnumerable<ParkingCore.Models.Parking>
@using PagedList.Mvc
@using PagedList
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <h5>
        Quản lý bãi đỗ
    </h5>
}
<div class="row">
</div>
<div class="row">
    <div class="col-md-12 mt-4">
        <div class="card">
            <div class="col-lg-12 text-end">
                <a class="btn bg-gradient-dark mb-0" href="@Url.Action("Create")"><i class="fas fa-plus">Thêm bãi đỗ mới</i></a>
            </div>
            @using (Html.BeginForm("Index", "Site", FormMethod.Post))
            {
                <div class="col-lg-8">
                    <div class="input-group">
                        <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                        <input type="text" value="@ViewBag.SearchString" name="searchString" class="form-control" placeholder="Nhập tên bãi đỗ...">
                    </div>

                </div>
                <div class="col-lg-6 alert">
                    <input type="submit" value="Tìm Kiếm" class="btn btn-info" />
                </div>
            }
            @foreach (var item in Model)
            {
                <div class="card-body pt-4 p-3">
                    <ul class="list-group">
                        <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                            <div class="d-flex flex-column">
                                <h6 class="mb-3 text-sm">@Html.DisplayFor(modelItem => item.PkName)</h6>
                                <span class="mb-2 text-xs">Parking Name: <span class="text-dark font-weight-bold ms-sm-2">@Html.DisplayFor(modelItem => item.PkName)</span></span>
                                <span class="mb-2 text-xs">Email Address: <span class="text-dark ms-sm-2 font-weight-bold">@Html.DisplayFor(modelItem => item.Email)</span></span>
                                <span class="mb-2 text-xs">Phone: <span class="text-dark ms-sm-2 font-weight-bold">@Html.DisplayFor(modelItem => item.Phone)</span></span>
                                <span class="mb-2 text-xs">Address: <span class="text-dark ms-sm-2 font-weight-bold">@Html.DisplayFor(modelItem => item.PkAddress)</span></span>
                                <span class="text-xs">Floor Number: <span class="text-dark ms-sm-2 font-weight-bold">@Html.DisplayFor(modelItem => item.Floor)</span></span>
                            </div>
                            <div class="ms-auto text-end">
                                <a class="btn btn-link text-dark px-3 mb-0" href="~/Parking/Update/@item.PkID"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                                &nbsp;
                                @Ajax.ActionLink(" Delete ", "Delete", new { @username = item.PkID, @class = "btn btn-link text-danger text-gradient px-3 mb-0" }, new AjaxOptions
                           {
                               Confirm = "Bạn có muốn xóa bản ghi này?",
                               OnComplete = "$('#row_" + item.PkID + "').remove()",
                               HttpMethod = "Delete"
                           }, new { @class = "far fa-trash-alt me-2" })
                            </div>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
<i class="btn btn-link">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
</i>
<footer class="footer pt-3  ">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-muted text-lg-start">
                    ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>,
                    made with <i class="fa fa-heart"></i> by
                    <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Le Hoang Long</a>
                    for a better web.
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Le Hoang Long</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
